<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalyearproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SearchActivity"
            android:label="Search Product"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".FavouriteActivity"
            android:label="Favourites" />

        <activity
            android:name=".ProductDetails"
            android:label="Product Details"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".FirebaseDetection"
            android:label="Scan Product By Camera"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ScannedResultActivity"
            android:label="Scanned Results"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".BarcodeActivity"
            android:label="Scan Barcode/Qr Code"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>